<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="free.yhc.feeder"
      android:versionCode="8"
      android:versionName="1.2.1">
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="free.yhc.feeder.FeederApp">
        <activity android:name=".FeederActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChannelListActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@style/FeederTabTheme"
                  />
        <activity android:name=".ItemListActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  />
        <activity android:name=".PredefinedChannelActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"
                  />
        <activity android:name=".ChannelSettingActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  />
        <activity android:name=".FeederPreferenceActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"
                  />
        <activity android:name=".ItemViewActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar"
                  />
        <service android:name=".ScheduledUpdater"
				 />
        <receiver android:name=".ScheduledUpdater$AlarmReceiver">
			<intent-filter>
				<action android:name="feeder.intent.action.SCHEDULED_UPDATE" />
			</intent-filter>
        </receiver>
        <receiver android:name=".ScheduledUpdater$DateChangedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.TIME_SET" />
			</intent-filter>
		</receiver>
	</application>
</manifest>